obdy {
    background: url('cork-wallet.png');
}


header {
    background-color: white;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0%; 
    border: outset; 
}

.name  {
        color:white;     
}

.name h1{
    font-size: 30px; 
    background-color: #4aaaa5;
    height: 50px;
    /* width: 20%; */
    text-align: center;
    /* padding: 20px; */
    /* margin-left: 80px; */
}


.links {
    font-size: 20px;
    float: right;
    /* margin: -65px;  */
    /* margin-right: 160px; */
    
}           

#AboutMe{
    /* margin: 90px; */
    /* width: 650px;  */
    /* height: 425px;  */
    font-size: 20px;
    background-color: white;
}
 
.mybio { 
    font-size: 25px; 
    font-style: bold; 
    color: #4aaaa5;
    
}

#profilepic {
    width: 200px;
    height: 350px;
    float: left;
    margin: 10px 10px;
} 


.Connect {
    height: 270px;
    width: 370px;
    float: right;
    position: relative;
    bottom: 510px;
    background-color: white;
    margin-right: 40px;

}

#externallinks { 
    text-align: center;
    margin: 15px;
    font-style: bold;
    color: #4aaaa5;
    font-size: 20px;

}

.Footer {
    background-color: #777777;
    float: bottom;
    margin: 0%;
    height: 100px;
    width: 100%;

}

#foothold {
    color:black;
    font-size: 15px;
    text-align: center;
    margin-left: 560px;
    margin-top: 200px;
    padding-top: 10px;
